server:
  port: 9000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-route
          uri: lb://dispatch-service
          predicates:
            - Path=/auth/**
        - id: dispatch-route
          uri: lb://dispatch-service
          predicates:
            - Path=/jobs/**
        - id: fleet-route
          uri: lb://fleet-service
          predicates:
            - Path=/vehicles/**
        - id: driver-route
          uri: lb://driver-service
          predicates:
            - Path=/drivers/**
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
