server:
  port: 8082

spring:
  application:
    name: driver-service
  data:
    mongodb:
      uri: mongodb+srv://fleet:fleet%40123@fleet-management.v5jbqi1.mongodb.net/fleet-management?appName=fleet-management

management:
  endpoints:
    web:
      exposure:
        include: health,info

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
